
<div id="form-container" style="margin-top: 50px;">  
    <form (submit)="onFormSubmit($event)">
      <dx-form id="form"          
          [readOnly]="false"
          colCount="3"
          [showColonAfterLabel]="true"
          [showValidationSummary]="true"
        >
          <dxi-item dataField="País"
                  editorType="dxAutocomplete"
                  [editorOptions]="countriesOptions"
                    >
                  <dxi-validation-rule
                      type="stringLength"
                      [min]="2"
                      message="Name must have at least 2 symbols">
                  </dxi-validation-rule>
                  <dxi-validation-rule 
                      type="required"
                      message="El país es requerido">
                  </dxi-validation-rule>
              </dxi-item>
              <dxi-item dataField="Estado"
                  editorType="dxSelectBox"
                  [editorOptions]="statesOptions">    
                  <dxi-validation-rule 
                      type="required"
                      message="El estado es requerido">
                  </dxi-validation-rule>
              </dxi-item>
              <dxi-item dataField="Ciudad"
                  editorType="dxSelectBox"
                  [editorOptions]="{ dataSource: cities, disabled: disableCity }">
                  <dxi-validation-rule 
                      type="required"
                      message="La ciudad es requerida">
                  </dxi-validation-rule>
              </dxi-item> 
          <dxi-item 
              itemType="button"
              colSpan="3"
              horizontalAlignment="right"
              [buttonOptions]="buttonOptions">
          </dxi-item>
      </dx-form>
  </form>
</div>
